/* HEADER */

header {
  justify-content: flex-end;
  align-items: flex-start;
  padding-top: 4px;
  background-color: black;
  height: 70px;
  
}

.members-view {
  color: white;
  align-items: center;
  background-color: rgb(74, 74, 74);
  border-radius: 5px;
  height: 20px;
  padding: 5px;
  margin-right: 5px;
}

.members-view p {
  font-size: 12px;
  margin-left: 5px;
}


.maximize {
  color: white;
  align-items: center;
  background-color: rgba(74, 74, 74);
  border-radius: 5px;
  height: 20px;
  padding: 5px;
  margin-right: 5px;
}


/* MAIN */

main {
  background-color: black;
  overflow: auto;
  height: calc(100vh - 170px);
  padding-bottom: 30px;
}

.member-img  {
  justify-content: center;
  align-items: center;
}

.member-img .image {
  height: 100px;
  min-width: 200px;
  position: relative;
  margin-right: 2px;
  margin-bottom: 10px;
}


.image span {
  color: white;
  background-color: rgb(100, 111, 123, 0.4);
  position: absolute;
  bottom:0px;
  left: 0px;
  font-size: 13px;
  padding: 4px;
}

/* /MAIN */


/* FOOTER */
footer {
  height: 100px;
}
/* /FOOTER */
