/* HEADER */

header {
  justify-content: flex-end;
  align-items: flex-start;
  padding-top: 4px;
  background-color: black;
  height: 70px;
  
}

.members-view {
  color: white;
  align-items: center;
  background-color: rgb(74, 74, 74);
  border-radius: 5px;
  height: 20px;
  padding: 5px;
  margin-right: 5px;
}

.members-view p {
  font-size: 12px;
  margin-left: 5px;
}

.maximize {
  color: white;
  align-items: center;
  background-color: rgba(74, 74, 74);
  border-radius: 5px;
  height: 20px;
  padding: 5px;
  margin-right: 5px;
}

/* MAIN */

main {
  background-color: black;
  overflow: auto;
  height: calc(100vh - 170px);
  padding-bottom: 30px;
}

.member-img  {
  justify-content: center;
  align-items: center;
}

.member-img .image {
  height: 100px;
  min-width: 200px;
  position: relative;
  margin-right: 2px;
  margin-bottom: 10px;
}

.image span {
  color: white;
  background-color: rgb(100, 111, 123, 0.4);
  position: absolute;
  bottom:0px;
  left: 0px;
  font-size: 13px;
  padding: 4px;
}
/* /MAIN */


/* FOOTER */
footer {
  flex-shrink: 0;
  justify-content: space-between;
  height: 100px;
  background-color:rgb(34, 34, 34);
}

/* NAV LEFT */
.nav-left {
  color: white;
  width: 20vw;
  padding-left: 10px;
}

.microphone, .video i {
  font-size: 1.5rem;
}

.nav-left p {
  font-size: 12px;
}

.nav-left span {
  align-self: center;
  font-size: 15px;
  padding-left: 10px;  
}

.microphone {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}

/* /NAV LEFT */

/* NAV CENTER */

.nav-center {
  color: white;
  width: calc(100vw - 40vw);
  justify-content: center;
  align-items: center;
}

.nav-center span {
  padding-right: 10px;
}

ul {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

li {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
}

nav ul li p {
  font-size: 12px;
  padding-top: 5px;
}

nav ul li i {
  font-size: 1.5rem;
}

li i:active {
  color: rgb(75, 200, 0);
}


/* /NAV CENTER */

/* NAV RIGHT */
.nav-right {
  width: 20vw;
  justify-content: flex-end;
}

.end-call {
  align-items: center;
  padding: 20px;
  height: 100%;
  background-color:rgb(74, 74, 74) ;
}


.end-call p {
  font-size: 12px;
  color:rgb(255, 37, 41) ;
}
/* /NAV RIGHT */

/* /FOOTER */
